* {
  margin: 0;
  padding: 0;
}
.hello-word {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: #191919;
}
.bloco {
  overflow: hidden;
  position: relative;
}

.bloco:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #9660e8;
  transform: translateX(-100%);
  animation: crescerBloco 2s 4s both, revelarbloco 2s 6s both;
  animation-iteration-count: 1000;
}
.texto {
  color: white;
  font-size: 80px;
  opacity: 0;
  animation: fadeInText 0s 1.1s both;
}
.maos {
  margin-top: -260px;
}
@media only screen and (max-width: 600px) {
  .maos {
    margin-top: -190px;
    width: 100%;
  }
}
footer {
  padding: 10px 0;
  color: #9660e8;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cecece;
  gap: 15px;
}
footer a {
  color: black;
  font-style: italic;
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes crescerBloco {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes revelarbloco {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.btn-animado {
  padding: 20px 40px;
  border-radius: 8px;
  color: white;
  background: blueviolet;
  animation: animateBtn 3s linear infinite;
  opacity: 0.7;
  font-size: 20px;
  margin-top: 20px;
  cursor: pointer;
}

@keyframes animateBtn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.375;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

.fundo {
  background-image: url('img/doguinho.png');
  height: 100vh;
  color: white;
  font-family: arial;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}
.calculadora {
  width: 230px;
  background: black;
  border-radius: 15px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.85);
}
.calculadora p {
  background: white;
  color: black;
  padding: 20px;
  margin: 10px 0;
  font-size: 10px 20px;
  text-align: right;
}
.calculadora button {
  width: 50px;
  height: 50px;
  font-size: 25px;
  cursor: pointer;
  background: rgb(31, 31, 31);
  color: white;
  border: none;
  margin: 3px;
}
.calculadora button:hover {
  background: black;
}
.calculadora .igual {
  height: 106px;
}
.calculadora .zero {
  width: 106px;
}

.container-404 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}
.container-404 h1 {
  font-size: 150px;
  color: wheat;
}
.container-404 p {
  font-size: 30px;
  color: blueviolet;
}
.container-404 a {
  margin-top: 30px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px 30px;
  background-color: tomato;
  border-radius: 8px;
  cursor: pointer;
}
.container-404 a:hover {
  transform: scale(1.1);
}
