* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
  background: aliceblue;
}
.sub-menu {
  padding: 20px;
  color: #34348b;
  display: flex;
  justify-content: space-between;
}
.sub-menu a {
  cursor: pointer;
  font-size: 18px;
}
.sub-menu a:hover {
  border-bottom: 2px solid #34348b;
}
.container {
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
/* lib  */
.animacao {
  width: 100%;
  height: 100vh;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 400px;
  height: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
  position: absolute;
}
.form .email input,
.senha input {
  padding: 8px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 30px;
  border-width: thin;
  border-radius: 8px;
}
.form ul {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px 0;
}
.form ul li {
  list-style: none;
}
.form ul li img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.form ul li img:hover {
  transform: scale(1.1);
}
.form .button {
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 10px 30px;
  font-size: 20px;
  color: white;
  background-color: #34348b;
  border: none;
  border-radius: 8px;
  margin: 20px auto;
  cursor: pointer;
}
.form button:hover {
  transform: scale(1.1);
}
.esqueci-senha {
  display: flex;
  justify-content: space-between;
}
.form h4 {
  margin: 25px auto;
  font-size: 40px;
}
.form p {
  margin: 0 auto;
}
/* check box switch */
.topo input[type='checkbox'] {
  appearance: none;
  width: 100px;
  height: 50px;
  background-color: #707070;
  position: absolute;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}
.topo input[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 10px;
  top: 6px;
  transition: 0.3s;
  background-color: #fff;
}
.topo input[type='checkbox']:after {
  content: '\f185';
  font-family: FontAwesome;
  position: absolute;
  color: #000;
  font-size: 22px;
  left: 19px;
  top: 15px;
  transition: 0.3s;
}
.topo input[type='checkbox']:checked {
  background: #34348b;
}
.topo input[type='checkbox']:checked:before {
  background: #000;
  left: 54px;
}
.topo input[type='checkbox']:checked:after {
  content: '\f042';
  font-family: FontAwesome;
  color: #fff;
  left: 64px;
}

/* animação carregamento */
.carregar {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.carregar p {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}
.btn-loading {
  border-radius: 10px;
  width: 200px;
  height: 40px;
  background: #c6c6c6;
}
.loading {
  border-radius: 10px;
  background-color: #34348b;
  width: 20px;
  height: 40px;
  animation: carregar 3s linear infinite;
}
@keyframes carregar {
  0% {
    width: 20px;
  }
  10% {
    width: 40px;
  }
  20% {
    width: 60px;
  }
  30% {
    width: 80px;
  }
  40% {
    width: 100px;
  }
  50% {
    width: 120px;
  }
  60% {
    width: 140px;
  }
  80% {
    width: 160px;
  }
  90% {
    width: 180px;
  }
  100% {
    width: 200px;
  }
}
.menu {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: white;
  position: fixed;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  box-shadow: 0 0 0 0px #fff, 0 0 0 0px #fff;
  /* isso ai de cima é como se fosse o from do animation */
  transition: box-shadow 1s ease-in-out;
}
.hamburguer {
  display: block;
  background: black;
  width: 30px;
  height: 2px;
  position: relative;
  top: 29px;
  left: 15px;
  transition: 0.5s ease-in-out;
}
.menu:hover {
  box-shadow: 0 0 0 8px #fff, 0 0 0 8px #fff;
}

.hamburguer::after,
.hamburguer::before {
  background: black;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}
.hamburguer::before {
  top: -10px;
}
.hamburguer::after {
  bottom: -10px;
}
input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}
input:checked ~ label .hamburguer::after {
  transform: rotate(90deg);
  bottom: 0;
}
input:checked ~ label .hamburguer::before {
  transform: rotate(90deg);
  top: 0;
}
input:checked ~ label .menu {
  box-shadow: 0 0 0 1vh #fff, 0 0 0 1vw #fff;
}
.sub-menu ul {
  position: absolute;
  list-style: none;
  opacity: 0;
  transition: 0.25s 0.5s cubic-bezier(0, 1.07, 0, 1.02);
}
.lista-mobile {
  text-align: center;
  margin-top: 50px;
}
.lista-mobile li {
  color: #34348b;
  font-size: 24px;
  margin-bottom: 8px;
  cursor: pointer;
}

.sub-menu input:checked ~ ul {
  opacity: 1;
}

.night-mode {
  background: #121214;
  color: white;
}
